.task {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 4rem 1.5rem;
  display: flex;
  justify-content: center;
}

.empty img {
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
}

.empty span {
  font-weight: 700;
  display: flex;
}

.empty p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}