.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 11.25rem;
  padding: 4.5rem 0;
  gap: 0.875rem;
  background: var(--gray-700);
}

.header img {
  width: 1.5rem;
  justify-content: flex-start;
}

.header h1 {
  color: var(--blue-light);
  font-weight: 900;
  font-size: 2.5rem;
}

.colorDo {
  color: var(--purple-dark);
}